/* animation for main image */
@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
    background-color: white;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

h1, p {
    color: black;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.ecommerce-container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    overflow-x: hidden;
}

.ecommerce-top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.ecommerce-top-left {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.ecommerce-top-left>img{
    margin-right: 50px;
    width: 200px;
    height: 30px;
}

.ecommerce-links {
    color: gray;
    font-size: 20px;
    font-weight: 100;
    transition: 0.5s;
}

.ecommerce-links:hover {
    color: black;
    transition: 0.5s;
}

.ecommerce-links:not(.active)>:only-child{
    display: none;
}

.ecommerce-links.active>:only-child{
    display: flex;
}

.ecommerce-underline {
    background-color: rgb(253, 126, 29);
    width: 100%;
    height: 5px;
}

.ecommerce-top-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-circle>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
}

.profile-circle>img:hover {
    border-color: rgb(255, 125, 27);
    transition: 0.5s;
    cursor: pointer;
}

.ecommerce-main-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    gap: 150px;
}

.ecommerce-left-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ecommerce-right-part {
    width: 500px;
    margin-top: auto;
    margin-bottom: auto;
}

.ecommerce-main-image {
    border-radius: 20px;
    width: 600px;
    height: 600px;
    cursor: pointer;

    animation-name: showUp;
    animation-duration: 1s;
}

.ecommerce-image-section {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.ecommerce-image-section>img{
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.ecommerce-text-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.ecommerce-text-info>p:first-child{
    color: rgba(0, 0, 0, 0.65);
    font-size: 20px;
    letter-spacing: 1px;
}

.ecommerce-text-info>p:last-child{
    color: gray;
    font-size: 20px;
}

.ecommerce-price {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: max-content;
}

.sale-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sale-div {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
}

.new-price {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.old-price {
    color: gray;
    text-decoration: line-through;
}

.ecommerce-shopping-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quantity-count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    height: 30px;
}

#minus:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#btn-buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(255, 125, 27);
    border-style: none;
    gap: 10px;
    width: 50%;
}

#btn-buy:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.5;
}

.icon-buy {
    filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(59deg) brightness(89%) contrast(111%);
    width: 20px;
    height: 20px;
}

.quantity-cart {
    background-color: orange;
    border-radius: 50%;
    padding: 2px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    position: relative;
    margin-top: -15px;
    margin-right: -25px;
}

.quantity-cart-holder {
    display: flex;
    cursor: pointer;
}

.thumb-image {
    cursor: pointer;
}

.thumb-image.active {
    border-color: rgb(255, 125, 27);
    border-style: solid;
    border-width: 2px;
    opacity: 0.5;
}

/* modal window */
.modal-window:not(:last-child) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.modal-thumb-image {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.modal-thumb-image>img {
    border-radius: 15px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.modal-close {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: orange;
    cursor: pointer;
    z-index: 10000;
}

.modal-arrow-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: inherit;
    top: -50%;
    padding: 0 20px;

    animation-name: showUp;
    animation-duration: 1s;
}

.modal-left, .modal-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.modal-left:hover, .modal-right:hover {
    color: rgb(255, 125, 27);
    transition: 0.5s;
}

.modal-left {
    left: auto;
}

.modal-right {
    right: auto;
}

/* cart info */
.cart-info {
    position: absolute;
    background-color: white;
    box-shadow: 0px 10px 50px gray;
    border-radius: 15px;
    margin-top: 200px;
    margin-left: -250px;
    width: 300px;
    height: auto;
    padding: 10px;
}

.car-info>h1,p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-info>h1{
    font-size: medium;
}

.cart-info-packed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.cart-info-details {
    display: flex;
    justify-content: space-between;
}

.cart-info-details>img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.cart-info-text {
    display: flex;
    flex-direction: column;
}

.cart-info-text>p{
    margin: 0;
}

.cart-info-text>p:last-child{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.cart-info-multiply {
    font-weight: 100;
}

.cart-info-total {
    font-weight: bold;
}

.cart-checkout {
    width: 100%;
    height: auto;
    background-color: rgb(255, 125, 27);
}

.cart-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* hamburger menu */
.hamburger-menu-holder {
    display: none;
    color: black;
    justify-content: center;
}

.hamburger-menu-line-holder {
    display: none;
    background-color: white;
    border-radius: 15px;
    border-width: 2px;
    padding: 10px;
    z-index: 11000;

    /* added recently */
    position: fixed;
    top: 90px;
    right: 50px;
}

.hamburger-menu-line {
    background-color: black;
    width: 30px;
    height: 5px;
}

/* HM lines */
.hamburger-menu-line-holder.active>:first-child{
    rotate: 45deg;
    translate: 0 10px;
}

.hamburger-menu-line-holder.active>:nth-child(2){
    opacity: 0;
}

.hamburger-menu-line-holder.active>:last-child{
    rotate: -45deg;
    translate: 0 -10px;
}

/* responsive design */
@media only screen and (max-width: 1450px) {
    .ecommerce-top-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 200px;
    }
}

@media only screen and (max-width: 1280px) {
    .ecommerce-top-part {
        margin-bottom: 20px;
    }

    .ecommerce-main-part {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .ecommerce-text-info {
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 820px) {
    .hamburger-menu-line-holder {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .hamburger-menu-holder {
        background-color: white;
        box-shadow: 0px 10px 50px gray;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: fixed;                /* instead of "position: absolute" */
        top: 0;
        right: 0;
        width: 350px;
        height: 100%;
        z-index: 10000;
    }

    .hamburger-menu-holder>a{
        color: black;
        font-size: 40px;
        margin-top: 40px;
    }

    .ecommerce-top-part {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ecommerce-top-left>a{
        display: none;
    }
}

@media only screen and (max-width: 610px) {
    .modal-close {
        top: 200px;
        right: 20px;
    }

    .ecommerce-main-image {
        width: 300px;
        height: 300px;
    }

    .ecommerce-left-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ecommerce-image-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 250px;
    }
}

@media only screen and (max-width: 520px) {
    .ecommerce-right-part {
        width: 400px;
    }
}

@media only screen and (max-width: 480px) {
    .modal-thumb-image {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;
    }
}

@media only screen and (max-width: 410px) {
    .ecommerce-right-part {
        width: 300px;
    }
}

@media only screen and (max-width: 365px) {
    .ecommerce-top-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 150px;
    }

    .cart-info {
        margin-left: -110px;
    }
}
